<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collector App</title>
</head>

<body>
    <link rel="stylesheet" href="../static/style.css" />
    <div class="container">
        <h1>Collecting Heights</h1>
        <h2>Please Fill the entries to get population statistics</h2>

        <form action="{{url_for('success' )}}" method="POST">
            <input type="email" placeholder="Enter your email" name="email_name" required><br>
            <input type="number" placeholder="Enter your height" min=50 max=300 name="height" required /><br>
            <button type=submit>Send</button>

    </div>
</body>
</body>

</html>